{% extends 'base.html.twig' %}

{% block body_class 'portfolio' %}

{% block body %}
<section>
    <p>Je concois et developpes des applications pour le web depuis 10 ans avec PHP, Javascript et HTML.</p>
    <p>Cette vision d'ensemble me permet d'architecturer mes solutions techniques de manière pertinente.</p>

    <h3>Comment je travail</h3>

    <div class="row">
        <div>
            <h4>Je m'investi</h4>
            <p>J'ai besoin de comprendre le besoin : pour proposer aux utilisateurs et aux utilisatrices des solutions qui facilitent leur quotidien.</p>
        </div>

        <div>
            <h4>Je vise la qualité</h4>
            <p>Je m'appuie sur les standards et les bonnes pratiques. Mon code est découplé, efficace et utilisable par d'autres.</p>
        </div>

        <div>
            <h4>J'aime apprendre</h4>
            <p>Je suis avec interet les évolutions des technologies du web, j'expériemente et je m'adapte.</p>
        </div>
    </div>
</section>

<section>
    <h3>Mes outils</h3>

    <p>En ce moment, je suis particulierement efficace avec Symfony et React, mais je propose des solutions standards et low-tech dès que c'est pertinent.</p>
    <p>J'organise ma production de code autour du workflow git, notamment sur Github.</p>
    <p>Je sais provisionner mes serveurs avec Ansible et servir mes applications avec Nginx.</p>
</section>
{% endblock %}
