{% extends 'base.html.twig' %}

{% block body_class 'portfolio' %}

{% block body %}
    <div class="row">
        <a href="http://curvytron.com" class="card">
            <span class="card-title">Curvytron</span>
        </a>
        <a href="http://whatthetune.com" class="card">
            <span class="card-title">What the Tune ?!</span>
        </a>
    </div>
{% endblock %}
