<nav class="menu">
    <a href="{#{ path('about') }#}">À propos</a>
    <a href="{#{ path('experiments') }#}">Jeux & expériences</a>
    <a href="{#{ path('talks') }#}">Talks</a>
    <a href="{#{ path('photo') }#}">Photo</a>
    <a href="{#{ path('blog') }#}">Blog</a>
</nav>
