{% extends 'base.html.twig' %}

{% block body_class 'short' %}

{% block body %}
<header>
    <div class="container">
        <nav class="menu">
            <a target="_blank" href="https://twitter.com/tom32i">Tw</a>
            <a target="_blank" href="https://instagram.com/tom32i">In</a>
            <a target="_blank" href="https://github.com/tom32i">Gh</a>
            <a href="{#{ path('talk') }#}">Talks</a>
            <a href="{{ path('blog') }}">Blog</a>
        </nav>
    </div>
    <div class="container">
        <h1>Salut ! Moi c'est <span class="notice">Thomas</span>,</h1>
        <p>Je code des deux cotés de la requête HTTP.</p>
    </div>
</header>
<section>
    <div class="container">
        <p>Je suis <span class="notice">lead développeur web</span> à Lyon.</p>
        <p>En ce moment, je suis efficace avec<br><a class="notice" href="https://symfony.com">Symfony</a> et <a class="notice" href="">React</a>.</p>
        <p class="note">Mais je n'utilise pas systématiquement des frameworks.</p>
    </div>
</section>
<section>
    <div class="container">
        <p>J'aime expérimenter dans le navigateur et déveloper des jeux vidéo en temps réel.</p>
        <p>Des projets à moi :<br><a class="notice" href="http://curvytron.com">Curvytron</a> et <a class="notice" href="https://whatthetune.com">What the tune?!</a></p>
    </div>
</section>
<section>
    <div class="container">
        <p>Je me déplace partout à <span class="notice">vélo</span>.</p>
    </div>
</section>
<section>
    <div class="container">
        <p>Je partage régulierement mes passions via des <a target="_blank" href="{{ path('blog') }}">articles</a> et des <a target="_blank" href="{#{ path('talk') }#}">conférences</a>.</p>
    </div>
</section>
<section>
    <div class="container">
        <p>J'apprends la photographie <a target="_blank" href="https://unsplash.com/tom32i">ici</a> et <a target="_blank" href="https://instagram.com/tom32i">là</a>.</p>
        <p class="note">(et même <a target="_blank" href="https://instagram.com/gamoscope">ailleurs</a>)</p>
    </div>
</section>
<section>
    <div class="container">
        <p>Pour discuter, c'est par <a target="_blank" href="mailto:thomas.jarrand@gmail.com">mail</a> et sur <a target="_blank" href="https://twitter.com/tom32i">Twitter</a>.<p>
        <p>Bisous.</p>
    </div>
</section>
<footer class="baton">
    <a target="_blank" href="https://twitter.com/tom32i">
        <span title="Twitter" class="icon-twitter"></span>
    </a>
    <a target="_blank" href="https://instagram.com/tom32i">
        <span title="Instagram" class="icon-instagram"></span>
    </a>
    <a target="_blank" href="https://github.com/tom32i">
        <span title="Github" class="icon-github"></span>
    </a>
</footer>
{% endblock %}
