$easeOutExpo: cubic-bezier(0.19, 1, 0.22, 1);
$easeOutQuad: cubic-bezier(0.165, 0.84, 0.44, 1);
$easeOutBack: cubic-bezier(0.175, 0.885, 0.32, 1.275);
$easeInOutExpo: cubic-bezier(0.8, 0, 0.2, 1);

@keyframes melt {
  from { transform: scale3d(1, 0.4, 1) translate3d(0, -100%, 0); }
  to   { transform: scale3d(1, 1, 1) translate3d(0, 0, 0); }
}

@keyframes meltHalf {
  from { transform: scale3d(0.5, 0.2, 0.5) translate3d(0, -100%, 0); }
  to   { transform: scale3d(0.5, 0.5, 0.5) translate3d(0, 0, 0); }
}

@keyframes slideIn {
  from { transform: translate3d(0, 1em, 0); opacity: 0; }
  to   { transform: translate3d(0, 0, 0); opacity: 1; }
}


@keyframes slideUp {
  from { transform: translate3d(0, 100vh, 0); opacity: 0; }
  to   { transform: translate3d(0, 0, 0); opacity: 1; }
}

@keyframes rainbow {
    0% { text-decoration-color: #{$color-2-dark}; }
    16.667% { text-decoration-color: #{$color-1-dark}; }
    33.333% { text-decoration-color: #{$color-3-dark}; }
    50% { text-decoration-color: #{$color-4-dark}; }
    66.667% { text-decoration-color: #{$color-5-dark}; }
    83.333% { text-decoration-color: #{$color-6-dark}; }
    100% { text-decoration-color: #{$color-7-dark}; }
}

@keyframes rainbow-color {
    0% { color: #{$color-2-dark}; }
    16.667% { color: #{$color-1-dark}; }
    33.333% { color: #{$color-3-dark}; }
    50% { color: #{$color-4-dark}; }
    66.667% { color: #{$color-5-dark}; }
    83.333% { color: #{$color-6-dark}; }
    100% { color: #{$color-7-dark}; }
}

@keyframes rotate {
  from { transform: rotate3d(0, 1, 0, 0deg); }
  to { transform: rotate3d(0, 1, 0, 360deg); }
}

@keyframes rotateCard {
  from { transform: rotate3d(0, 1, 0, 0deg); }
  to { transform: rotate3d(0, 1, 0.1, 360deg); }
}
