$easeOutExpo: cubic-bezier(0.19, 1, 0.22, 1);
$easeOutBack: cubic-bezier(0.175, 0.885, 0.32, 1.275);
$easeInOutExpo: cubic-bezier(0.8, 0, 0.2, 1);
$easeOutCirc: cubic-bezier(0.075, 0.82, 0.165, 1);
$easeOutBounce: cubic-bezier(.18,.76,.67,1.3);

@keyframes slideIn {
  from { transform: translate3d(0, 2em, 0); opacity: 0; }
  to   { transform: translate3d(0, 0, 0); opacity: 1; }
}


@keyframes slideUp {
  from { transform: translate3d(0, 100vh, 0) translateZ(-50vh); opacity: 0; }
  to   { transform: translate3d(0, 0, 0) translateZ(0); opacity: 1; }
}

@keyframes rainbow {
    0% { text-decoration-color: #{$color-2-dark}; }
    16.667% { text-decoration-color: #{$color-1-dark}; }
    33.333% { text-decoration-color: #{$color-3-dark}; }
    50% { text-decoration-color: #{$color-4-dark}; }
    66.667% { text-decoration-color: #{$color-5-dark}; }
    83.333% { text-decoration-color: #{$color-6-dark}; }
    100% { text-decoration-color: #{$color-7-dark}; }
}

@keyframes rainbow-color {
    0% { color: #{$color-2-dark}; }
    16.667% { color: #{$color-1-dark}; }
    33.333% { color: #{$color-3-dark}; }
    50% { color: #{$color-4-dark}; }
    66.667% { color: #{$color-5-dark}; }
    83.333% { color: #{$color-6-dark}; }
    100% { color: #{$color-7-dark}; }
}

@keyframes rotate {
  0% { transform: rotateZ(-5deg) rotateY(0deg); }
  50% { transform: rotateZ(5deg) rotateY(180deg); }
  100% { transform: rotateZ(-5deg) rotateY(360deg); }
}
