.blog {
    width: 100%;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;

    .content {
        box-sizing: border-box;
        width: 640px;
        max-width: 100%;
        padding: 2em;
    }

    .article-content {
        margin-top: 3rem;
    }

    time {
        color: $monokai-mutted;
        font-size: 1.2em;
    }

    h1, h2, h3, h4, h5 {
        color: $text-black;
        font-weight: bold;
    }

    h1 {
        font-size: 2.4em;
        margin: 1em 0 2em;
    }

    h2 {
        font-size: 1.8em;
        margin: 2em 0 1em;
    }

    h3 {
        font-size: 1.4em;
    }

    section {
        flex: 1;
    }

    a, a:visited {
        color: $text-primary;
    }

    p, li {
        line-height: 1.5em;
        font-size: 1.3em;
        font-style: normal;
    }

    .inline-code {
        background-color: rgba($color-1-dark, 0.4);
        color: $text-black;
        border-radius: 0.2em;
        padding: 0 0.2em;
        font-size: 0.9em;
        font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    }

    code {
        margin: 1em 0;
        padding: 1em;
        background: $code-background;
        color: white;
        white-space: pre;
        display: block;
        font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
        white-space: pre;
        word-spacing: normal;
        word-break: normal;
        word-wrap: normal;
        line-height: 1.5;
        tab-size: 4;
        hyphens: none;
        overflow-x: auto;
    }

    code.success {
        color: $monokai-green;
        margin-left: -0.5em;
        border-left: 0.5em solid $monokai-green;
    }

    code.error {
        color: $monokai-error;
        border-left: 0.5em solid $monokai-error;
        margin-left: -0.5em;
    }

    code[data-output] {
        position: relative;
    }
    code[data-output]::before {
        content: attr(data-output);
        color: $monokai-mutted;
        margin-right: 1em;
    }

    .token.comment,
    .token.block-comment,
    .token.prolog,
    .token.doctype,
    .token.cdata {
        color: $monokai-mutted;
    }

    .token.punctuation {
        color: $monokai-grey;
    }

    .token.operator,
    .token.entity,
    .token.url,
    .token.tag,
    .token.attr-name,
    .token.namespace,
    .token.deleted {
        color: $monokai-red;
    }

    .token.boolean,
    .token.number {
        color: $monokai-purple;
    }

    .token.property,
    .token.class-name,
    .token.constant,
    .token.symbol {
        color: $monokai-orange;
    }

    .token.function-name,
    .token.function,
    .token.selector,
    .token.important,
    .token.atrule,
    .token.keyword,
    .token.builtin {
        color: $monokai-blue;
    }

    .token.string,
    .token.char,
    .token.attr-value,
    .token.regex,
    .token.variable {
        color: $monokai-yellow;
    }

    .token.important,
    .token.bold {
        font-weight: bold;
    }
    .token.italic {
        font-style: italic;
    }

    .token.entity {
        cursor: help;
    }

    hr {
        width: 100%;
        height: 1px;
        border: none;
        background-color: silver;
    }
}
