@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?4b93c');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?4b93c#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?4b93c') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?4b93c') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?4b93c##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-calendar {
  &:before {
    content: $icon-calendar;
  }
}
.icon-clock {
  &:before {
    content: $icon-clock;
  }
}
.icon-file-text {
  &:before {
    content: $icon-file-text;
  }
}
.icon-link {
  &:before {
    content: $icon-link;
  }
}
.icon-mail {
  &:before {
    content: $icon-mail;
  }
}
.icon-map-pin {
  &:before {
    content: $icon-map-pin;
  }
}
.icon-monitor {
  &:before {
    content: $icon-monitor;
  }
}

