@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?d8kxeh');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?d8kxeh#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?d8kxeh') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?d8kxeh') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?d8kxeh##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-download {
  &:before {
    content: $icon-download;
  }
}
.icon-redo {
  &:before {
    content: $icon-redo;
  }
}
.icon-undo {
  &:before {
    content: $icon-undo;
  }
}
.icon-chevron-right {
  &:before {
    content: $icon-chevron-right;
  }
}
.icon-chevron-left {
  &:before {
    content: $icon-chevron-left;
  }
}
.icon-calendar {
  &:before {
    content: $icon-calendar;
  }
}
.icon-clock {
  &:before {
    content: $icon-clock;
  }
}
.icon-file-text {
  &:before {
    content: $icon-file-text;
  }
}
.icon-film {
  &:before {
    content: $icon-film;
  }
}
.icon-link {
  &:before {
    content: $icon-link;
  }
}
.icon-mail {
  &:before {
    content: $icon-mail;
  }
}
.icon-map-pin {
  &:before {
    content: $icon-map-pin;
  }
}
.icon-monitor {
  &:before {
    content: $icon-monitor;
  }
}
.icon-globe {
  &:before {
    content: $icon-globe;
  }
}
.icon-instagram {
  &:before {
    content: $icon-instagram;
  }
}
.icon-twitter {
  &:before {
    content: $icon-twitter;
  }
}
.icon-github {
  &:before {
    content: $icon-github;
  }
}
