body {
    background-color: $color-gray;
    color: $text-black;
    perspective: 100vw;
}

* {
    box-sizing: border-box;
}

.portfolio section,
.blog .hero,
.blog .container {
    width: 100%;
    max-width: $width;
    padding: 0;
    margin: 0;
}
