.menu-container {
    width: 100%;
    max-width: $width;
    margin: 0 auto;
    padding: 1rem 0;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;

    .menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 0 -1rem;

        a {
            flex: 1;
            margin: 0 1rem;
            text-decoration: none;
            text-align: center;
            position: relative;
            white-space: nowrap;

            &.active {
                text-decoration: underline;
                text-decoration-thickness: 2px;
                animation: rainbow 2000ms infinite linear;
                font-weight: bold;
            }
        }
    }

    .brand {
        //position: relative;
        //margin-left: 2em;
        color: $color-2-dark;
        display: flex;
        align-items: center;
        font-weight: bold;
        text-decoration: none;

        &:hover:before {
            animation: rotate 1s infinite linear;
        }

        &:before {
            content: "";
            display: inline-block;
            //position: absolute;
            //left: -1.6em;
            //top: -0.5em;
            margin-right: 0.6em;
            width: 1em;
            height: 2em;
            background-image: url('/img/logo.svg');
            background-size: contain;
            background-repeat: no-repeat;
            transform-origin: 50% 50%;
        }
    }
}
