.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    transform: translate3d(0,0,0);
    perspective: 100vw;
    height: 100vh;
    overflow: hidden;

    header {
        padding: 2.5em 0 5em;
        text-align: center;

        h1, h2 {
            animation: slideIn 1200ms backwards $easeOutExpo;
            margin: 0;
        }

        h1 {
            color: $text-primary;
            font-size: 2em;
            line-height: 2em;

            .notice {
                font-weight: bold;
            }
        }

        h2 {
            font-size: 1.2em;
            color: $text-primary-light;
            animation-delay: 200ms;
        }
    }

    .card {
        width: 45em;
        height: 28em;
        max-width: 100%;
        position: absolute;
        top: calc(50% - 10em);
        transform-style: preserve-3d;
        animation: slideUp 600ms backwards $easeOutCirc;
        animation-delay: 100ms;
        box-shadow: 0 5em 20em 0 rgba(black, 0.1);

        &.fliped {
            transform: rotateY(-180deg);
        }

        .recto {
            position: absolute;
            height: 100%;
            width: 100%;
            visibility:visible;
            backface-visibility: hidden;
            -webkit-backface-visibility: hidden;
            background-color: $color-1;
            background-size: cover;
            border: 1em solid white;
            z-index: 1;
        }

        .verso {
            height: 100%;
            width: 100%;
            transform: rotateY(180deg);
            display: flex;
            flex-direction: row;
            background-color: white;
            visibility:visible;
            backface-visibility: hidden;
            -webkit-backface-visibility: hidden;
            padding: 2em;
            color: $text-black;
            box-shadow: inset 0 0 20em rgba(#765d39, 0.1);

            .left {
                flex: 3;
                padding-right: 2em;
                margin-right: 2em;
                border-right: 1px dotted $color-text-footer;
                position: relative;
            }

            .right {
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

            .stamp {
                align-self: flex-end;
                width: 8em;
                height: 10em;
                object-fit: cover;
                border-radius: 0.2em;
                border: 0.4em solid $color-gray-light;
                transform: rotateZ(2deg);
            }

            .stamp-mark {
                position: absolute;
                width: 11em;
                right: 8em;
                top: 2em;
                transform: rotateZ(8deg);
            }

            .links {
                display: flex;
                flex-direction: column;

                a {
                    padding: 0.2em 0;
                    margin: 0.5em 0;
                    border-bottom: 1px dotted $color-text-footer;
                }
            }

            .notice {
                font-weight: bold;
            }

            a {
                text-decoration: none;
                color: darken($color-2, 0.5);

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .copyright {
            font-size: 8px;
            color: #999;
            position: absolute;
            bottom: 0;
            right: 2em;
        }
    }

    &.card-0 .card .recto { background-image: url('/img/carte_montagne.svg'); }
    &.card-1 .card .recto { background-image: url('/img/carte_monstera.svg'); }
    &.card-2 .card .recto { background-image: url('/img/carte_mer.svg'); }
    &.card-3 .card .recto { background-image: url('/img/carte_glace.svg'); }
    &.card-4 .card .recto { background-image: url('/img/carte_velo.svg'); }
}
