.portfolio {
    background-color: $color-gray-light;
    color: $text-black;//$color-3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;

    header {
        //background-color: $color-light;
        color: white;
        background-color: $color-primary-light;
        background-image: url('../img/anchor.gif');

        .container {
            display: flex;
            flex-direction: column;
            align-items: baseline;
            justify-content: space-between;

            blockquote {
                margin: 0;
            }
        }
    }

    section, header, footer {
        padding: 5rem 0;
        margin: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container {
        min-width: 200px;
        width: 65%;
        max-width: 960px;

        & > *:first-child {
            margin-top: 0;
        }

        & > *:last-child {
            margin-bottom: 0;
        }
    }

    h1 {
        font-size: 2.8em;
    }

    h2 {
        font-size: 2.4em;
    }

    h3 {
        font-size: 1.8em;
    }

    h4 {
        font-size: 1.4em;
    }

    section {
        //background-color: $color-light;
        //color: $color-3;
    }

    section:nth-of-type(2n) {
        background-color: white;
    }

    section:nth-of-type(3n) {
        //background-color: $color-3;
    }
    section:nth-of-type(3n+1) {
        //background-color: $color-4;
    }
    section:nth-of-type(3n+2) {
        //background-color: $color-light; //$color-1
        //color: $color-3;
    }
    /*section:nth-of-type(3n+2) {
        background-color: $color-4;
    }*/
    /*section:nth-of-type(4n+3) {
        background-color: $color-5;
    }*/

    footer {
        background-color: $color-primary;//$color-dark;
        color: $text-white;

        a, a:visited {
            color: inherit;
        }
    }

    .title {
        font-size: 60px;
        display: flex;
        flex-direction: column;

        span {
            font-weight: 700;
            line-height: 1.2em;
        }
        small {
            font-weight: 400;
            font-size: 0.8em;
            line-height: 1em;
        }
    }

    /* Row */
    .row {
        display: flex;
        margin: 0 -2rem;

        > * {
            flex: 1;
            margin: 0 2rem;
        }
    }

    .hero {
        h1, h2, h3, h4, h5 {
            margin-top: 0;

            span {
                font-weight: bold;
            }
        }
    }

    /* Card */
    .card {
        background-color: white;
        padding: 0.8rem;
        border-radius: 0.4rem;
        padding: 1rem;
    }

    .bordered {
        border-radius: 0.2rem;
    }
}
