@media  (max-width: 1024px) {
  .menu-container {
    position: relative;
    padding: 1em;
    font-size: 14px;
  }


  .blog .hero,
  .blog .container {
    max-width: initial;
    padding: 0 4em;
  }
}

@media (max-width: 767px) {
  .menu-container {
    font-size: 12px;
  }

  .portfolio {
    font-size: 12px;
    height: auto;
    overflow: visible;

    header {
      padding-bottom: 2.5em;

      h1 {
        font-size: 1.8em;
      }

      h2 {
        font-size: 1em;
      }
    }

    .card, .card.fliped {
      transform: none;
    }

    .card {
      //font-size: 10px;
      margin: 1em;
      width: auto;
      height: auto;
      display: block;
      position: inherit;
      //display: flex;
      //flex-direction: column;
      //transform: none;
      //position: inherit;
      //box-shadow: none;

      .recto {
        display: none;
      }

      .verso {
        transform: none;
        backface-visibility: initial;
        flex-direction: column-reverse;
        height: auto;
        width: auto;
        margin: 0;
        padding: 1.2em;

        .left {
          margin: 0;
          padding: 0;
          border: none;
        }

        .right {
          flex-direction: row-reverse;
        }

        .stamp {
          width: 5em;
          height: 6.25em;
          align-self: auto;
          //transform: rotateZ(2deg) scale(0.67);
        }

        .links {
          align-self: flex-start;

          a {
            padding: 0;
            margin: 0 0 0.6em 0;
            border: none;
          }
        }

        .stamp-mark {
          top: 0;
          right: 4em;
          transform: rotateZ(8deg) scale(0.67);
        }

        .copyright {
          position: static;
          margin-bottom: 0;
        }
      }
    }
  }

  .blog {
    font-size: 12px;

    h1 {
      font-size: 2em;
    }

    .preview {
      .title {
        font-size: 1.6em;
      }
    }

    footer {
      padding-bottom: 0;

      .container {
        flex-direction: column;
        //align-items: center;
        margin: 0;

        > * {
          margin: 0;
        }

        > *:first-child {
          margin-bottom: 2em;
        }
      }
    }
  }

  .blog .hero,
  .blog .container {
    padding: 0 2em;
  }
}
