@media  (max-width: 1024px) {
  .menu-container {
    position: relative;
    padding: 1em;

    a {
      font-size: 14px;
    }
  }


  .blog .hero,
  .blog .container {
    max-width: initial;
    padding: 0 4em;
  }
}

@media (max-width: 767px) {
  body {
    font-size: 12px;
  }

  .portfolio {
    header {
      h1 {
        font-size: 1.8em;
      }

      h2 {
        font-size: 1em;
      }
    }
  }

  .blog {
    font-size: 12px;

    h1 {
      font-size: 2em;
    }

    .preview {
      .title {
        font-size: 1.6em;
      }
    }

    footer {
      padding-bottom: 0;

      .container {
        flex-direction: column;
        //align-items: center;
        margin: 0;

        > * {
          margin: 0;
        }

        > *:first-child {
          margin-bottom: 2em;
        }
      }
    }
  }

  .blog .hero,
  .blog .container {
    padding: 0 2em;
  }
}
