.short {
    background-color: $color-light;
    color: $color-2-dark;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;

    .menu {
        //display: flex;
        display: none;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        margin: 1rem -1rem;

        > * {
            margin: 0 1rem;
        }
    }

    p, h1, h2, h3, h4, h5 {
        font-family: "Cabin", sans-serif;
        font-size: 1.4em;
        line-height: 1.2em;
        margin: 2rem 0;
    }

    .note {
        font-style: italic;
        font-size: 1.2em;
    }

    .notive {
        font-weight: bold;
    }

    a {
        color: inherit;
    }

    h1 {
        color: $color-2-dark;
        font-size: 2.4em;
        line-height: 2em;
    }

    h2 {
        font-size: 1.4em;
        color: $color-2;
    }

    section, header {
        padding: 4rem;
        margin: 0;
        min-width: 200px;
        width: 65%;
        max-width: 640px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    header {
        color: $text-dark;
        padding: 4rem 0 6rem;
    }

    section {
        color: white;
        margin-left: -1.5rem;
        position: relative;

        p {
            text-shadow: 0em 0.15rem rgba(black ,0.2),
                         0em 0em 0.2em rgba(black , 0.2);
        }
    }

    section:first-of-type {
        position: relative;
        border-top-left-radius: 50% 90%;
        border-top-right-radius: 50% 90%;
        padding-top: 12rem;

        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 3rem;
            width: 12rem;
            height: 3rem;
            background-color: rgba(white, 0.66);
            left: 7rem;
            transform: rotate(-25deg);
            border-top-left-radius: 50% 80%;
            border-top-right-radius: 50% 80%;
            border-bottom-left-radius: 8% 20%;
            border-bottom-right-radius: 8% 20%;
        }
    }

    section:last-of-type {
        border-bottom-left-radius: 2rem;
        border-bottom-right-radius: 2rem;

        &::after {
            content: "";
            display: block;
            position: absolute;
            bottom: -40rem;
            width: 100%;
            height: 2rem;
            border-radius: 50%;
            margin-left: 1.5rem;
            background-color: $shadow;
        }
    }

    section:nth-of-type(7n+1) { background-color: $color-1; box-shadow: 3rem 0rem $color-1-dark, 1.5rem 0rem $color-1-dark; }
    section:nth-of-type(7n+2) { background-color: $color-2; box-shadow: 3rem 0rem $color-2-dark; }
    section:nth-of-type(7n+3) { background-color: $color-3; box-shadow: 3rem 0rem $color-3-dark; }
    section:nth-of-type(7n+4) { background-color: $color-4; box-shadow: 3rem 0rem $color-4-dark; }
    section:nth-of-type(7n+5) { background-color: $color-5; box-shadow: 3rem 0rem $color-5-dark; }
    section:nth-of-type(7n+6) { background-color: $color-6; box-shadow: 3rem 0rem $color-6-dark; }
    section:nth-of-type(7n+0) { background-color: $color-7; box-shadow: 3rem 0rem $color-7-dark; }

    .baton {
        position: relative;
        background-color: $color-wood;
        border-bottom-left-radius: 5rem;
        border-bottom-right-radius: 5rem;
        box-shadow: 0.8rem 0rem #b8a07d;
        width: 10rem;
        height: 32rem;
        //margin-left: -0.4rem;
        margin-bottom: 10rem;
        padding: 2rem 0;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;

        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            width: 100%;
            height: 2rem;
            background-color: $shadow;
        }

        a {
            font-size: 3em;
            text-decoration: none;
            padding: 1rem;
            color: $color-wood-dark;
            text-shadow: 0 2px rgba(white, 0.25);
            z-index: 1;
        }
    }

    .container {
        width: 100%;

        & > *:first-of-type {
            margin-top: 0;
        }

        & > *:last-of-type {
            margin-bottom: 0;
        }
    }
}
