.short {
    background-color: $color-light;
    color: $text-white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;

    .menu {
        //display: flex;
        display: none;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        margin: 1rem -1rem;

        > * {
            margin: 0 1rem;
        }
    }

    p, h1, h2, h3, h4, h5 {
        font-family: "Cabin", sans-serif;
        font-size: 1.4em;
        line-height: 1.2em;
        margin: 2rem 0;
    }

    .note {
        font-style: italic;
        font-size: 1.2em;
    }

    .notive {
        font-weight: bold;
    }

    a {
        color: inherit;
    }

    h1 {
        font-size: 2.4em;
        line-height: 2em;
    }

    section p {
        text-shadow: 0em 0.15rem rgba(0,0,0,0.2);
    }

    section, header {
        padding: 4rem;
        margin: 0;
        min-width: 200px;
        width: 65%;
        max-width: 640px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    header {
        color: $color-3;
        padding: 8rem 0;
    }

    section {
        box-shadow: inset -3rem 0rem $shadow;
    }

    section:first-of-type {
        position: relative;
        border-top-left-radius: 50% 70%;
        border-top-right-radius: 50% 70%;
        padding-top: 12rem;

        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 3rem;
            width: 12rem;
            height: 3rem;
            background-color: rgba(white, 0.66);
            left: 7rem;
            transform: rotate(-25deg);
            border-top-left-radius: 50% 80%;
            border-top-right-radius: 50% 80%;
            border-bottom-left-radius: 8% 20%;
            border-bottom-right-radius: 8% 20%;
        }
    }

    section:last-of-type {
        border-bottom-left-radius: 2rem;
        border-bottom-right-radius: 2rem;
    }

    section:nth-of-type(6n+1) { background-color: $color-2; }
    section:nth-of-type(6n+2) { background-color: $color-3; }
    section:nth-of-type(6n+3) { background-color: $color-4; }
    section:nth-of-type(6n+4) { background-color: $color-5; }
    section:nth-of-type(6n+5) { background-color: $color-6; }
    section:nth-of-type(6n+0) { background-color: $color-7; }

    .baton {
        position: relative;
        background-color: $color-wood;
        border-bottom-left-radius: 5rem;
        border-bottom-right-radius: 5rem;
        box-shadow: inset -0.8rem 0rem $shadow;
        width: 10rem;
        height: 32rem;
        margin-bottom: 8rem;
        padding: 2rem 0;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;

        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            width: 100%;
            height: 2rem;
            background-color: $shadow;
        }

        a {
            font-size: 3em;
            text-decoration: none;
            padding: 1rem;
            color: $color-wood-dark;
            text-shadow: 0 2px rgba(white, 0.25);
            z-index: 1;
        }
    }

    .container {
        width: 100%;

        & > *:first-of-type {
            margin-top: 0;
        }

        & > *:last-of-type {
            margin-bottom: 0;
        }
    }
}
