.talks {
    .center {
        text-align: center;
    }

    .talk {
        margin: 5em 0;

        .details {
            position: relative;
        }

        .title {
            font-size: 1.6em;
            line-height: 1.2;
            text-decoration: none;
            font-weight: bold;
        }

        .description {
            white-space: pre-wrap;
            font-size: 1em;
            font-family: Georgia, Cambria, "Times New Roman", Times, serif;
            -webkit-font-smoothing: auto;
            -moz-osx-font-smoothing: auto;
            margin: 1em 0;
            padding-left: 1em;
            border-left: 1px solid $color-text-footer;
        }

        .view {
            max-width: 100%;
            box-shadow: 0em 3px 8px 0px rgba(0,0,0,0.15);
        }
    }
}
