body {
    font-size: 18px;
    font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

code {
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

h1, h2, h3, h4, h5, .title {
    font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: normal;
    margin: 2em 0 1.2em;
}

time {
    font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: $text-mutted;
}

p {
    line-height: 1.4em;
    margin: 0.8rem 0;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

ol {
    list-style: decimal;
    padding-left: 2.4em;
    margin-bottom: 1rem;
}

img {
    max-width: 100%;
}

a {
    color: $color-1-dark;
}

a:visited {
    color: rgba($color-1-dark, 0.8);
}

.notice {
    font-weight: bold;
}

.invit {
    color: $color-1-dark;
    text-align: center;
    display: flex;
    flex-direction: column;
}

hr {
    width: 66%;
    height: 1px;
    margin: 4rem auto;
    border: none;
    background-color: $monokai-mutted;
}

img.round {
    border-radius: 100%;
}
