// Vars
$color-gray: #e9e4e6;
$color-gray-light: #f9f4f6;
$color-light: #effdfd;
$color-1: #45ccc1;
$color-1-dark: #3eb9af;
$color-2: #389694;
$color-2-dark: #328886;
$color-3: #f1af4b;
$color-3-dark: #db9f43;
$color-4: #fc7978;
$color-4-dark: #e26d6c;
$color-5: #f9a587;
$color-5-dark: #e2957a;
$color-6: #ac8daf;
$color-6-dark: #9a7f9d;
$color-7: #484c7f;
$color-7-dark: #414472;
$color-wood: #dbc19a;
$color-wood-dark: #b08d58;
$shadow: rgba(0, 0, 0, 0.1);
$text-white: white;
$text-primary: $color-2-dark;
$text-primary-light: $color-2;
$text-black: #2d3335;
$text-mutted: #555;

// Code highlighting
$code-background: #3B3C3C;
$monokai-red: #ff6188;
$monokai-green: #a9dc76;
$monokai-yellow: #ffd866;
$monokai-orange: #fc9867;
$monokai-purple: #ab9df2;;
$monokai-blue: #78dce8;
$monokai-grey: #ccc;
$monokai-mutted: #999;
$monokai-error: lightcoral;

// Icons
$icomoon-font-family: "icon" !default;
$icomoon-font-path: "../fonts" !default;

$icon-chevron-right: "\e908";
$icon-calendar: "\e900";
$icon-clock: "\e901";
$icon-file-text: "\e903";
$icon-film: "\e907";
$icon-link: "\e904";
$icon-mail: "\e905";
$icon-map-pin: "\e906";
$icon-monitor: "\e902";
$icon-instagram: "\ea92";
$icon-twitter: "\ea96";
$icon-github: "\eab0";
