:root {
    --background-color: slateblue;
    --text-white: white;
    --text-black: black;

    --monokai-red: #ff6188;
    --monokai-green: #a9dc76;
    --monokai-yellow: #ffd866;
    --monokai-orange: #fc9867;
    --monokai-purple: #ab9df2;;
    --monokai-blue: #78dce8;
    --monokai-grey: #ccc;
    --monokai-mutted: #999;
    --monokai-error: lightcoral;
}
