{% extends 'blog/base.html.twig' %}

{% block meta_title article.title ~ ' | Blog technique de Thomas Jarrand' %}
{% block meta_description article.description %}
{% block meta_locale article.language %}
{% block fb_og_type 'article' %}

{% use 'blog/blocks.html.twig' %}

{% block content %}
    <article lang="{{ article.language }}">
        <header>
            <h1>{{ article.title }}</h1>
            {{ block('date') }}
        </header>
        <div class="article-content">
            {{ article.content|raw }}
        </div>
    </article>
{% endblock %}
