{% extends 'base.html.twig' %}

{% block body_class 'blog' %}

{% block javascripts encore_entry_script_tags('blog') %}

{% block body %}
    {% include 'common/menu.html.twig' %}

    {% block header %}
        <header>
            <h1>Mon blog technique</h1>
            <p>(mais pas que ...)</p>
            <hr>
        </header>
    {% endblock %}

    <section class="content container">
        {% block content '' %}
    </section>

    {% block footer %}
        <footer>
            <div class="container">
                <div class="author">
                    <h4>À propos de l'auteur</h4>
                    <a href="{{ path('blog') }}">
                        <img width="64" height="64" class="round" src="{{ asset('/img/portrait.jpg') }}">
                        Thomas Jarrand
                    </a>
                </div>
                <div class="articles">
                    <a class="title" href="{{ path('blog') }}">Tout les articles</a>
                    {{ render(controller('App\\Controller\\BlogController::latest', { max: 3 })) }}
                </div>
            </div>
        </footer>
    {% endblock %}
{% endblock %}
