{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="https://tom32i.github.io/javascript-assignation-immutability/app.css">
{% endblock %}

{% block body %}
    {% block header %}
    {% endblock %}

    <section class="content">
        {% block content '' %}
    </section>

    {% block footer %}
    {% endblock %}
{% endblock %}
