{% extends 'base.html.twig' %}

{% block body %}
    {% block header %}
    {% endblock %}

    <section class="content">
        {% block content '' %}
    </section>

    {% block footer %}
    {% endblock %}
{% endblock %}
