<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <meta name="robots" content="noindex" />
        <title>{% block title %}Thomas Jarrand - Lead Développeur Web{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('style') }}
        {% endblock %}
    </head>
    <body class="{% block body_class '' %}">
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
